@font-face {
  font-family: 'Stix';
  src: url("/static/base/fonts/STIXTwoText[wght].woff2") format("woff2 supports variations"),
  url("/static/base/fonts/STIXTwoText[wght].woff2") format("woff2-variations");
  font-weight: 100 1000;
}

/* Google icons */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v88/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #FFFFeb;
  --background-highlight: #f2f2de; /* E.g., search box */
  --trans-black-light: rgba(0, 0, 0, 0.018);
  --foreground: #111111;
  --dark-gray: rgba(17, 17, 17);
  --light-gray: rgba(17, 17, 17, 0.8);
  --lighter-gray: rgba(17, 17, 17, 0.1);
  --dark-red: #660000;
  --light-red: rgba(179, 0, 0);
  --lighter-red: rgba(179, 0, 0, 0.8);
  --site-name: "honeybit.cooking"
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stix";
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #111111;
  background-color: #FFFFeb;
}

/* unvisited link */
a:link {
  color: var(--light-red);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--light-red);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--lighter-red);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--lighter-red);
  text-decoration: underline;
}

.header-link a:link{
  color: var(--dark-gray);
  text-decoration: none;
}
.header-link a:visited{
  color: var(--dark-gray);
  text-decoration: none;
}
.header-link a:hover{
  color: var(--light-gray);
  text-decoration: none;
}
.header-link a:active{
  color: var(--dark-gray);
  text-decoration: none;
}

.index-header {
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}

.index-list {
  list-style: none;
  margin: 0 .2rem 1.618rem;
  padding: 0 0 0;
  /* Hack to get second-line indent */
  text-indent: -1.618rem;
  margin-left: 1.618rem;
}

.index-list li:not(:first-of-type) {
  margin-top: .2em;
}

.index-list a:link{
  color: var(--light-red);
  text-decoration: none;
}
.index-list a:visited{
  color: var(--light-red);
  text-decoration: none;
}
.index-list a:hover{
  color: var(--lighter-red);
  text-decoration: none;
}
.index-list a:active{
  color: var(--lighter-red);
  text-decoration: none;
}

.see-all-link {
  padding: .382rem 0 0 0;
}
.see-all-link a:link{
  color: var(--dark-gray);
  text-decoration: none;
}
.see-all-link a:visited{
  color: var(--dark-gray);
  text-decoration: none;
}
.see-all-link a:hover{
  color: var(--light-gray);
  text-decoration: none;
}
.see-all-link a:active{
  color: var(--dark-gray);
  text-decoration: none;
}

h1 {
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}

h2 {
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}


.content-grid {
  display: flex;
  min-height:100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}


.content-grid__header {
}


/* Define style that should apply to all screens */
.content-grid__header__container {
  background-color: var(--trans-black-light);
  /* padding-top: .5rem; */
  /* padding-bottom: .5rem; */
  /* padding-left: 1rem; */
  /* padding-right: 1.618rem; */
  /* height: 50px; */
  box-sizing: border-box;
  border-bottom: 1px solid var(--lighter-gray);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  /* column-gap: 1rem; */
  /* box-sizing: border-box; */
}

.navbar > div {
  /* border: 1px solid blue; */
}

.navbar__logo {
  /* border: 1px solid blue; */
}

.navbar__search {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 1px solid blue; */
}


#menu-toggle {
  display: none;
}

.menu {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}

.menu > li {
  /* margin: 0 1rem; */
  overflow: hidden;
}


.navbar a:link {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--light-gray);
  text-decoration: none;
}


.navbar .navbutton__home a:link {
  color: var(--light-red);
  text-decoration: none;
}

/* [Q] Why does this style not apply when class is set in the <a> div? */
.navbar .navbutton__home a:visited {
  color: var(--light-red);
  text-decoration: none;
}


.navbar .navbutton__home a:hover {
  color: var(--lighter-red);
  text-decoration: none;
}

.navbar__logo a:link {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar__logo a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar__logo a:hover {
  color: var(--dark-gray);
  text-decoration: none;
}

/* Define style for narrow screens */
@media (max-width: 700px) {
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--foreground);
    position: absolute;
    height: 1px;
    width: 20px;
    /* transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1); */
    border-radius: 0px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    /* transition: height 0ms cubic-bezier(0.23, 1, 0.32, 1); */
  }
  #menu-toggle:checked ~ .menu {
    /* border-bottom: 1px solid var(--dark-gray); */
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  }
  #menu-toggle:checked ~ .menu .menu__item {
   text-align: left;
  display: block;
  height: 50px;
  padding-left: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  text-decoration: none;
  /* transition-duration: .25s; */
  width: 100%;
  height: 100%;
  vertical-align: middle;
  }
  #menu-toggle:checked ~ .menu li {
    height: 50px;
    /* padding: 0.5em; */
    /* transition: height 0ms cubic-bezier(0.23, 1, 0.32, 1); */
  }
  .menu > li {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: rgb(255, 255, 235, 1);
  }

  /* [Q] How to justify right, and pad? text-align right, padding-right does not pad. */
  /* [Q] How to justify vertically? (setting fixed height) */
  .menu__item {
    text-align: center;
  }

  .menu__item:hover {
    background: rgb(179, 0, 0, .15);
  }
}

/* Define style for wide screens */
@media (min-width: 701px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* height: 100%; */
    /* height: 50px; */
    column-gap: 1rem;
    /* align-items: center; */
  }

  .menu > li {
    position: relative;
    display: flex;
    height: 50px;
  }

  .menu__item {
    display: block;
    height: 50px; /* IMPORTANT */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .menu__item:hover {
    background: rgb(179, 0, 0, .15);
  }

}





/* .content-grid__header__content { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/*   column-gap: 1rem; */
/*   width; 100%; */
/*   margin: 0; */
/*   padding: 0; */
/*   border: 0; */
/* } */


/* .content-grid__header__logo { */
/* } */
/*  */
/*  */
/* .content-grid__header__search { */
/*   flex-grow: 1; */
/* } */
/*  */
/* .content-grid__header__navbuttons { */
/*   display: flex; */
/*   flex-direction: row; */
/*   column-gap: 1rem; */
/* } */
/*  */
/* .navbutton__home { */
/* } */
/*  */
/* .navbutton__recipes { */
/* } */
/*  */
/* .navbutton__categories { */
/* } */
/*  */
/* .navbutton__add { */
/* } */
/*  */
/* .content-grid__header a:link { */
/*   color: var(--dark-gray); */
/*   text-decoration: none; */
/* } */
/*  */
/* .content-grid__header a:visited { */
/*   color: var(--dark-gray); */
/*   text-decoration: none; */
/* } */
/*  */
/* .content-grid__header a:hover { */
/*   color: var(--light-gray); */
/*   text-decoration: none; */
/* } */
/*  */
/*  */
/* .content-grid__header .navbutton__home a:link { */
/*   color: var(--light-red); */
/*   text-decoration: none; */
/* } */
/*  */
/*  */
/* .content-grid__header .navbutton__home a:visited { */
/*   color: var(--light-red); */
/*   text-decoration: none; */
/* } */
/*  */
/*  */
/* .content-grid__header .navbutton__home a:hover { */
/*   color: var(--lighter-red); */
/*   text-decoration: none; */
/* } */
/*  */
/* .content-grid__header__logo a:link { */
/*   color: var(--dark-gray); */
/*   text-decoration: none; */
/* } */
/*  */
/* .content-grid__header__logo a:visited { */
/*   color: var(--dark-gray); */
/*   text-decoration: none; */
/* } */
/*  */
/* .content-grid__header__logo a:hover { */
/*   color: var(--dark-gray); */
/*   text-decoration: none; */
/* } */


.content-grid__main {
  flex: 1;
  padding-top: 1.618rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.content-grid__footer p{
  text-align: center;
}

/* .content-grid__footer br{ */
/*   margin-bottom: .382rem; */
/* } */


.content-grid__footer__note {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.content-grid__footer__note p{
  margin: 0;
  padding: 0;
}


.content-grid__footer__navbuttons {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  justify-content: center;
  margin: 0;
  margin-top: .382rem;
  margin-bottom: .618rem;
  padding: 0;
}

.content-grid__footer a:link {
  color: var(--dark-gray);
  text-decoration: none;
}

.content-grid__footer a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}

.content-grid__footer a:hover {
  color: var(--light-gray);
  text-decoration: none;
}


.content-grid__footer .navbutton__home a:link {
  color: var(--light-red);
  text-decoration: none;
}


.content-grid__footer .navbutton__home a:visited {
  color: var(--light-red);
  text-decoration: none;
}


.content-grid__footer .navbutton__home a:hover {
  color: var(--lighter-red);
  text-decoration: none;
}
