@font-face {
  font-family: 'Stix';
  src: url("/static/base/fonts/STIXTwoText[wght].woff2") format("woff2 supports variations"),
  url("/static/base/fonts/STIXTwoText[wght].woff2") format("woff2-variations");
  font-weight: 100 1000;
}

/* Google icons */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v88/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #FFFFeb;
  --background-highlight: #f2f2de; /* E.g., search box */
  --trans-black-light: rgba(0, 0, 0, 0.018);
  --foreground: #111111;
  --dark-gray: rgba(17, 17, 17);
  --light-gray: rgba(17, 17, 17, 0.8);
  --lighter-gray: rgba(17, 17, 17, 0.1);
  --dark-red: #660000;
  --light-red: rgba(179, 0, 0);
  --lighter-red: rgba(179, 0, 0, 0.8);
  --site-name: "honeybit.cooking"
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stix";
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #111111;
  background-color: #FFFFeb;
}

/* unvisited link */
a:link {
  color: var(--light-red);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--light-red);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--lighter-red);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--lighter-red);
  text-decoration: underline;
}


h1 {
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}

h2 {
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}


.content-grid {
  display: flex;
  min-height:100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}



/* CONTENT-GRID__HEADER */
.content-grid__header {
}


/* Define style that should apply to all screens */
.content-grid__header__container {
  background-color: var(--trans-black-light);
  /* padding-top: .5rem; */
  /* padding-bottom: .5rem; */
  /* padding-left: 1rem; */
  /* padding-right: 1.618rem; */
  /* height: 50px; */
  box-sizing: border-box;
  border-bottom: 1px solid var(--lighter-gray);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  /* column-gap: 1rem; */
  /* box-sizing: border-box; */
}

.navbar > div {
  /* border: 1px solid blue; */
}

.navbar__logo {
  /* border: 1px solid blue; */
}

.navbar__search {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 1px solid blue; */
}


#menu-toggle {
  display: none;
}

.menu {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}

.menu > li {
  /* margin: 0 1rem; */
  overflow: hidden;
}


.navbar a:link {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--light-gray);
  text-decoration: none;
}


.navbar .navbutton__home a:link {
  color: var(--light-red);
  text-decoration: none;
}

/* [Q] Why does this style not apply when class is set in the <a> div? */
.navbar .navbutton__home a:visited {
  color: var(--light-red);
  text-decoration: none;
}


.navbar .navbutton__home a:hover {
  color: var(--lighter-red);
  text-decoration: none;
}

.navbar__logo a:link {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar__logo a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}

.navbar__logo a:hover {
  color: var(--dark-gray);
  text-decoration: none;
}

/* Define style for narrow screens */
@media (max-width: 600px) {
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--foreground);
    position: absolute;
    height: 1px;
    width: 20px;
    /* transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1); */
    border-radius: 0px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    /* transition: height 0ms cubic-bezier(0.23, 1, 0.32, 1); */
  }
  #menu-toggle:checked ~ .menu {
    /* border-bottom: 1px solid var(--dark-gray); */
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  }
  #menu-toggle:checked ~ .menu .menu__item {
   text-align: left;
  display: block;
  height: 50px;
  padding-left: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  text-decoration: none;
  /* transition-duration: .25s; */
  width: 100%;
  height: 100%;
  vertical-align: middle;
  }
  #menu-toggle:checked ~ .menu li {
    height: 50px;
    /* padding: 0.5em; */
    /* transition: height 0ms cubic-bezier(0.23, 1, 0.32, 1); */
  }
  .menu > li {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: rgb(255, 255, 235, 1);
  }

  /* [Q] How to justify right, and pad? text-align right, padding-right does not pad. */
  /* [Q] How to justify vertically? (setting fixed height) */
  .menu__item {
    text-align: center;
  }

  .menu__item:hover {
    background: rgb(179, 0, 0, .15);
  }
}

/* Define style for wide screens */
@media (min-width: 601px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
  }

  .menu > li {
    position: relative;
    display: flex;
    height: 50px;
  }

  .menu__item {
    display: block;
    height: 50px; /* IMPORTANT */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .menu__item:hover {
    background: rgb(179, 0, 0, .15);
  }

}




/* CONTENT-GRID__MAIN */
.content-grid__main {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  grid-row-gap: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /* padding-top: 1.618rem; */
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
}


/* Change padding for wide screen */
@media (min-width: 601px) {
  .content-grid__main {
    /* margin-top: 3rem; */
    /* margin-bottom: 3rem; */
    margin-left: 8rem;
    margin-right: 8rem;
  }
}


.index-block {
  /* display: block; */
  margin: 0;
  padding: 0;
  /* margin: 0 0 .382rem; */
  /* border: 1px solid blue; */
}

.index-block__header {
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.index-block__header hr {
  display: block;
  height: 1px;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 0;
  border-top: 1px solid var(--light-gray);
}

.index-block__content {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  --auto-grid-min-size: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-auto-rows: fit-content(1rem);
  grid-row-gap: 0rem;
  grid-column-gap: 3rem;
  list-style: none;
  /* margin: 0 .2rem 1.618rem; */
  padding: 0;
  margin: 0;
}


/* Change flex arrangement for wide screen */
@media (min-width: 601px) {
  .index-block__content {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* column-gap: 1rem; */
    /* align-content: space-between; */
    /* width: 100%; */
    /* width: 50%; */
  }

}

.index-block__content-item {
  /* background-color: white; */
  /* height: 100%; */
  /* flex-grow: 1; */
  /* padding-left: .618rem; */
}

.index-block__content-item a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding-top: .618rem;
  padding-bottom: .618rem;
}

.index-block__content-item:hover {
  padding-left: .618rem;
  margin-left: -.618rem;
  padding-right: .618rem;
  margin-right: -.618rem;
  background-color: rgb(179, 0, 0, .1);
}


.index-block__content-title {
  color: var(--light-red);
}

.index-block__content-description {
  padding-top: .2rem;
  font-size: 12px;
  color: var(--foreground);
}

.see-all-link {
  /* padding: .382rem 0 0 0; */
  margin: 0;
  padding: 0;
  padding-left: 0rem;
  color: var(--foreground);
}

.header-link a:link{
  color: var(--dark-gray);
  text-decoration: none;
}
.header-link a:visited{
  color: var(--dark-gray);
  text-decoration: none;
}
.header-link a:hover{
  color: var(--dark-gray);
  text-decoration: none;
}
.header-link a:active{
  color: var(--dark-gray);
  text-decoration: none;
}


/* CONTENT-GRID__FOOTER */
.content-grid__footer {
  padding-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  flex-shrink: 0;
}


.content-grid__footer p{
  text-align: center;
}

.content-grid__footer__note {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.content-grid__footer__note p{
  margin: 0;
  padding: 0;
}

.content-grid__footer__navbuttons {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  justify-content: center;
  margin: 0;
  margin-top: .618rem;
  margin-bottom: 1.618rem;
  padding: 0;
}

.content-grid__footer a:link {
  color: var(--dark-gray);
  text-decoration: none;
}

.content-grid__footer a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}

.content-grid__footer a:hover {
  color: var(--light-gray);
  text-decoration: none;
}


.content-grid__footer .navbutton__home a:link {
  color: var(--light-red);
  text-decoration: none;
}


.content-grid__footer .navbutton__home a:visited {
  color: var(--light-red);
  text-decoration: none;
}


.content-grid__footer .navbutton__home a:hover {
  color: var(--lighter-red);
  text-decoration: none;
}
