{% load static %}

<link rel="stylesheet" href="{% static 'base/style.css' %}">
<link rel="stylesheet" href="{% static 'recipes/index.css' %}">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<body>

  <div class="index-grid">
    <div class="index-grid__body">
      <div class="index-header">
        {{ tag.name|capfirst }} recipes
      </div>

      <ul class="index-list">
        {% for recipe in recipes|dictsort:"title" %}
          <li><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="index-grid__footer">
      <p>
      <a href="/">Home</a>
      {# | <a href="{% url 'recipes:recipe_index' %}">All Recipes</a> #}
      {# | <a href="{% url 'recipes:tag_index' %}">All Tags</a> #}
      </p>
    </div>
  </div>

</body>
