{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ SITE_TITLE }}: A simple site for family recipes | Home</title>
    <link rel="stylesheet" href="{% static 'base/style.css' %}">

    <!-- Only import the scripts below if the current environment is development -->
    {% if debug %}
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/src/index.ts"></script>
    {% else %}
      <!-- Only import the scripts below if the current environment is production -->
      <script type="module" src="{% static 'scripts/frontend.mjs' %}"></script>
    {% endif %}

  </head>

  <body>

    <!-- Home page search (lit) -->

    <!-- Home page content -->
    <div class="content-grid">


      <div class="content-grid__header">
        <div class="content-grid__header__container">
          <div class="content-grid__header__content">

            <div class="content-grid__header__logo">
                <a href="/">honeybit</a>
            </div>

            <div class="content-grid__header__search">
            <hb-recipes-search recipes="{{ all_recipes_json }}"></hb-recipes-search>
            </div>

            <div class="content-grid__header__navbuttons">
              <div class="navbutton__home">
                <a href="/">Home</a>
              </div>
              <div class="navbutton__recipes">
                <a href="/">Recipes</a>
              </div>
              <div class="navbutton__categories">
                <a href="/">Categories</a>
              </div>
              <div class="navbutton__add">
                <a href="/">+</a>
              </div>
            </div>

          </div>
          </div>
      </div>



      <div class="content-grid__main">
        <div class="index-header">
          <div class="header-link">
            <a href="{% url 'recipes:recipe_index' %}">New Recipes</a>
          </div>
        </div>

        {% if latest_recipes_list %}
          <ul class="index-list">
            {% for recipe in latest_recipes_list %}
              <li>
                {# {% include "../partials/recipe_index_list_entry.html" %} #}

                {% include "base/partials/recipe_index_list_entry.html" %}
              </li>
            {% endfor %}
            {% if n_all_recipes >= n_recent_recipes %}
              <li>
                <div class="see-all-link">
                  <a href="{% url 'recipes:recipe_index' %}">
                    <em>—See all {{ n_all_recipes }} recipes—</em>
                  </a>
                </div>
              </li>
            {% endif %}
          </ul>
        {% else %}
          <p>No recipes are available.</p>
        {% endif %}

        <div class="index-header">
          <div class="header-link">
            <a href="{% url 'recipes:tag_index' %}">New Categories</a>
          </div>
        </div>

        {% if latest_tags_list %}
          <ul class="index-list">
            {% for tag in latest_tags_list %}
              <li><a href="{% url 'recipes:tag_detail' tag.id %}">{{ tag.name|capfirst }}</a></li>
            {% endfor %}
            {% if n_all_tags > n_recent_tags %}
              <li>
                <div class="see-all-link">
                  <a href="{% url 'recipes:tag_index' %}">
                    <em>—See all {{ n_all_tags }} categories—</em>
                  </a>
                </div>
              </li>
            {% endif %}
          </ul>
        {% else %}
          <p>No category tags are available.</p>
        {% endif %}
      </div>

      <div class="content-grid__footer">
        <p>
        <em>
          {% for recipe in latest_recipe %}
            Updated {{ recipe.updated_at|date:"F j, o" }}
          {% endfor %}

        </em>
        <br>
        <a href="/">Home</a> {# TODO: change to "about", add "about" page. #}
        | <a href="{% url 'recipes:recipe_index' %}">Recipes</a>
        | <a href="{% url 'recipes:tag_index' %}">Categories</a>
        </p>
      </div>

    </div>
  </body>

</html>
