{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ SITE_TITLE }}: A simple site for family recipes | Home</title>

    {% include "base/partials/base_style.html" %}
    {% include "base/partials/frontend.html" %}

  </head>

  <body>
    <div class="content-grid">

      <div class="content-grid__header">
          {% include "base/partials/navbar.html" %}
      </div>

      <div class="content-grid__main">
        <div class="index-block">
          <div class="index-block__header">
            <div class="header-link">
              <a href="{% url 'recipes:recipe_index' %}">Recipes</a>
            </div>
            <hr/>
          </div>

          {% if latest_recipes_list %}
            <ul class="index-block__content">
              {% for recipe in latest_recipes_list %}
                <li>
                  {# {% include "../partials/recipe_index_list_entry.html" %} #}

                  {% include "base/partials/recipe_index_list_entry.html" %}
                </li>
              {% endfor %}
              {% if n_all_recipes >= n_recent_recipes %}
                <li>
                  <div class="index-block__content-item">
                    <a href="{% url 'recipes:recipe_index' %}">
                      <div class="see-all-link">
                        <em>—See all {{ n_all_recipes }} recipes—</em>
                      </div>
                    </a>
                  </div>
                </li>


              {% endif %}
            </ul>
          {% else %}
            <p>No recipes are available.</p>
          {% endif %}
        </div>


        <div class="index-block">
          <div class="index-block__header">
            <div class="header-link">
              <a href="{% url 'recipes:tag_index' %}">Categories</a>
            </div>
              <hr/>
          </div>

          {% if latest_tags_list %}
            <ul class="index-block__content">
              {% for tag in latest_tags_list %}
                <li>
                  <div class="index-block__content-item">
                    <a href="{% url 'recipes:tag_detail' tag.id %}">
                      <div class="index-block__content-title">
                        {{ tag.name|capfirst }}
                      </div>
                    </a>
                  </div>
                </li>
              {% endfor %}
              {% if n_all_tags > n_recent_tags %}
                <li>
                  <div class="see-all-link">
                    <a href="{% url 'recipes:tag_index' %}">
                      <em>—See all {{ n_all_tags }} categories—</em>
                    </a>
                  </div>
                </li>
              {% endif %}
            </ul>
          {% else %}
            <p>No category tags are available.</p>
          {% endif %}
        </div>
      </div>

      <div class="content-grid__footer">
        <div class="content-grid__footer__note">
          <p>
          <em>
          {% for recipe in latest_recipe %}
            Updated {{ recipe.updated_at|date:"F j, o" }}
          {% endfor %}
          </em>
          </p>
        </div>
        <div class="content-grid__footer__navbuttons">
          {% include "base/partials/navbar_footer.html" %}
        </div>
      </div>

    </div>
  </body>

</html>
