{% load static %}

<link rel="stylesheet" href="{% static 'base/style.css' %}">
<link rel="stylesheet" href="{% static 'recipes/index.css' %}">


<body>

  <div class="index-grid">
    <div class="index-grid__body">
      <div class="index-header">
        All Recipes
      </div>
      {% if all_recipes_list %}
        <ul class="index-list">
          {% for recipe in all_recipes_list|dictsort:"title" %}
            <li>
              <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
              {% if recipe.description %}
                <em>&nbsp;—&nbsp;&nbsp;{{ recipe.description|capfirst }}</em>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No recipes are available.</p>
      {% endif %}
    </div>

    <div class="index-grid__footer">
      <p>
      {% include "../partials/navbar_footer.html" %}
      </p>
    </div>
  </div>

</body>
