{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1> {{ recipe.title }} </h1>
<p> {{ recipe.description }}
<br> {{ recipe.introduction }}
<br> {{  recipe.variations }}
</p>
<ul>
    {% for ri in recipe.recipeingredient_set.all %}
      <li>{{ ri.amount }} {{ ri.unit|default_if_none:"" }}

        {# TODO: If there is no unit, pluralize ingredient. #}
        {{ ri.ingredient_id }}

        {# TODO: If there is a unit, pluralize it. #}
        {% if ri.description is not None %}
        ({{ ri.description }})
        {% endif %}
      </li>
      </li>
    {% endfor %}
</ul>
<p> {{ recipe.instructions }} </p>
<br>

