{% load humanizelib %}
{% if item.amount %}
  {# TODO: make this a partial #}
  {# #### Format serving units strings #### #}
  {# (1) Format numbers #}
  {# ##      if greater than one, round to one decimal. #}
  {# ##      if whole number, remove trailing zeroes #}
  {# ##      if less than 1, display as fraction #}
  {% if item.amount is not None %}
    {{ item.amount|fractional|default_if_none:"" }}
    {# (2a) Pluralize units, if they exist #}
    {# ##  Manually specify any units that should be pluralized #}
    {# ##      if "cup", pluralize depending on "amount" #}
    {# (2b) Enforce capitalization, e.g., for "Tbsp" #}
    {% if item.unit == "cup" %}
      cup{{ item.amount|pluralize:'s' }}
    {% if item.unit == "clove" %}
      clove{{ item.amount|pluralize:'s' }}
    {% if item.unit == "drop" %}
      drop{{ item.amount|pluralize:'s' }}
    {% elif item.unit == "leaf" %}
      lea{{ item.amount|pluralize:'f,ves' }}
    {% elif item.unit == "pinch" %}
      pinch{{ item.amount|pluralize:'es' }}
    {% elif item.unit == "tbsp" %}
      Tbsp
    {% else %}
      {{ item.unit|default_if_none:"" }}
    {% endif %}
    {# If there is a unit, add "of" #}
    {% if item.unit is not None %}
      of
    {% endif %}
  {% endif %}

  {% if item_type == "serving_unit" %}
    {# (3) Pluralize item name, if no units, depending on "amount" #}
    {# (3a) If there is no unit, don't pluralize serving unit name. #}
    {% if item.unit is None %}
      {{ item.servingunit_id }}{{ rsu.amount|pluralize }}
    {% else %}
      {{ item.servingunit_id }}
    {% endif %}
  {% elif item_type == "recipe_ingredient" %}
    {# (3) Pluralize ingredient name, if no units, depending on "amount" #}
    {# (3a) If there is no unit, don't pluralize ingredient name. #}
    {% if ri.unit is None %}
      <strong>{{ ri.ingredient_id }}{{ ri.amount|pluralize }}</strong>
    {% else %}
      <strong>{{ ri.ingredient_id }}</strong>
    {% endif %}
    {# (3b) If there is a unit, pluralize it. #}
    {% if ri.description is not None %}
      ({{ ri.description }})
    {% endif %}
  {% endif %}

{% endif %}
