<div class="content-grid__header__container">
  <div class="content-grid__header__content">

    <div class="content-grid__header__logo">
      <a href="/">honeybit</a>
    </div>

    <div class="content-grid__header__search">
      {# <hb-recipes-search recipes="{{ all_recipes_json }}"></hb-recipes-search> #}
    </div>

    <div class="content-grid__header__navbuttons">
      {# <div class="navbutton__home"> #}
      {#   <a href="/">Home</a> #}
      {# </div> #}
      <div class="navbutton__recipes">
        <a href="{% url 'recipes:recipe_index' %}">Recipes</a>
      </div>
      <div class="navbutton__categories">
        <a href="{% url 'recipes:tag_index' %}">Categories</a>
      </div>
      <div class="navbutton__add">
        <a href="{% url 'admin:index' %}">+</a>
      </div>
    </div>

  </div>
</div>
