body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding: 1.618rem 3rem 1rem;
  background-color: #FFFFeb;
}

/* unvisited link */
a:link {
  color: #b30000;
}

/* visited link */
a:visited {
  color: #660000;
}

/* mouse over link */
a:hover {
  color: #b30000;
}

/* selected link */
a:active {
  color: #b30000;
}

.nolist {
  list-style: none;
}

.flushleft-list {
  list-style: none;
}
