body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #111111;
  padding: 1.618rem 3rem 1rem;
  background-color: #FFFFeb;
}

/* unvisited link */
a:link {
  color: #b30000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #660000;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #b30000;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #b30000;
  text-decoration: underline;
}

.header-link a:link{
  color: #111111;
  text-decoration: none;
}
.header-link a:visited{
  color: #111111;
  text-decoration: none;
}
.header-link a:hover{
  color: #404040;
  text-decoration: none;
}
.header-link a:active{
  color: #111111;
  text-decoration: none;
}

.index-header {
  font-size: 22px;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}

.index-list {
  list-style: none;
  margin: 0 .2rem 1.618rem;
  padding: 0 0 0;
}

h1 {
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}

h2 {
  line-height: 1em;
  margin: 0 0 .382rem;
  padding: 0;
}
