{% load static %}

<link rel="stylesheet" href="{% static 'base/style.css' %}">

<body>

  <div class="index-grid">
    <div class="index-grid__body">
      <div class="index-header">
        <div class="header-link">
          <a href="{% url 'recipes:recipe_index' %}">New Recipes</a>
        </div>
      </div>

      {% if latest_recipes_list %}
        <ul class="index-list">
          {% for recipe in latest_recipes_list %}
            <li>
              <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
              {% if recipe.description %}
                <em>&nbsp;—&nbsp;&nbsp;{{ recipe.description|capfirst }}</em>
              {% endif %}
            </li>
          {% endfor %}
          {% if latest_recipes_list.count > n_recent_recipes %}
            <li>
              <a href="{% url 'recipes:recipe_index' %}"><em>—See all recipes—</em></a>
            </li>
          {% endif %}
        </ul>
      {% else %}
        <p>No recipes are available.</p>
      {% endif %}

      <div class="index-header">
        <div class="header-link">
          <a href="{% url 'recipes:tag_index' %}">New Categories</a>
        </div>
      </div>

      {% if latest_tags_list %}
        <ul class="index-list">
          {% for tag in latest_tags_list|dictsort:"name" %}
            <li><a href="{% url 'recipes:tag_detail' tag.id %}">{{ tag.name|capfirst }}</a></li>
          {% endfor %}
          {% if latest_tags_list.count > n_recent_tags %}
            <li>
              <em>
                <a href="{% url 'recipes:tag_index' %}"><em>—See all categories—</em></a>
              </em>
            </li>
          {% endif %}
        </ul>
      {% else %}
        <p>No category tags are available.</p>
      {% endif %}
    </div>

    <div class="index-grid__footer">
      <p>
      <em>
        {% for recipe in latest_recipe %}
          Updated {{ recipe.updated_at|date:"F j, o" }}
        {% endfor %}

      </em>
      <br>
      <a href="/">Home</a> {# TODO: change to "about", add "about" page. #}
      | <a href="{% url 'recipes:recipe_index' %}">Recipes</a>
      | <a href="{% url 'recipes:tag_index' %}">Categories</a>
      </p>
    </div>

  </div>

</body>
