{% load static %}

<link rel="stylesheet" href="{% static 'base/style.css' %}">

<body>

  <div class="index-header">
    <div class="header-link">
      <a href="{% url 'recipes:recipe_index' %}">Recipes</a>
    </div>
  </div>

  {% if latest_recipe_list %}
    <ul class="index-list">
      {% for recipe in latest_recipe_list|dictsort:"title" %}
        <li>
          <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
          <em>&nbsp;—&nbsp;&nbsp;{{ recipe.description|capfirst }}</em>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recipes are available.</p>
  {% endif %}

  <div class="index-header">
    <div class="header-link">
      <a href="{% url 'recipes:recipe_index' %}">Tags</a>
    </div>
  </div>

  {% if latest_tag_list %}
    <ul class="index-list">
      {% for tag in latest_tag_list|dictsort:"name" %}
        <li><a href="{% url 'recipes:tag_detail' tag.id %}">{{ tag.name|capfirst }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tags are available.</p>
  {% endif %}

</body>
