{% load static %}

<link rel="stylesheet" href="{% static 'base/style.css' %}">

<body>

  <h1>Wholesome recipes!</h1>

  <h2>Recipes</h2>

  {% if latest_recipe_list %}
    <ul>
      {% for recipe in latest_recipe_list %}
        <li><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recipes are available.</p>
  {% endif %}

  <h2>Tags</h2>

  {% if latest_tag_list %}
    {% for tag in latest_tag_list %}
      <a href="{% url 'recipes:tag_detail' tag.id %}">{{ tag.name }}</a>
      {% if not forloop.last %}|{% endif %}
    {% endfor %}
  {% else %}
    <p>No tags are available.</p>
  {% endif %}

</body>
