.recipe-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

.recipe-grid__body {
  margin: 0;
  padding: 0;
}

.title-image-grid {
  display: flex;
  flex-direction: column-reverse; /* default: wrap into rows */
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 2rem;
}

/* Define max width for columns (needed to make separator work) */
@media (min-width: 600px) {
  .title-image-grid {
    flex-direction: row;
    flex-wrap: unset;
    justify-content: space-between;
  align-items: flex-start;
  }
}

.recipe-title h1{
  font-size: 24px;
  line-height: 1em;
  margin: 0 0 1rem;
  padding: 0;
  text-align: left;
}

.title-image {
  max-height: 10rem;
  max-width: 10rem;
}

.title-image--main {
  max-height: 10rem;
  max-width: 10rem;
}

.title-image--no-intro {
  max-width: 20rem;
  margin-bottom: 1rem;
}

.title-image--no-prep {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 30px;
}

.introduction-variations {
  display: inline-block;
  margin: 0 0 0;
  /* Control space between intro+variations and title, prep time with margin here: */
  margin: .618rem 0 1.618rem;
}

.prep-cook-time {
  /* Control distance between prep time, top separator/box in margin here: */
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1em;
}

.introduction-variations p{
  /* line-height: 1.2rem; */
  line-height: 1.25rem;
  margin: 0;
  /* Control space between intro and variations text with bottom padding here: */
  padding: 0 0 0rem;
  /* padding: 0 0 .618rem; */
}

/* Try: same color, with border */
/* Try: diff color */
/* Try: separator between ingredients, directions */
/* https://ishadeed.com/article/flexbox-separator/ */
.ingredients-directions-container {
  background-color: #f2f2de;
  display: flex;
  flex-direction: row; /* default: wrap into rows */
  flex-wrap: wrap;
  justify-content: flex-start; /* flush boxes to left */
  align-items: auto; /* fill container top-bottom. flush text to top */
  align-content: stretch; /* default */
  gap: 1rem 1rem;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: .618rem .2rem 1rem; /* t lr b */
  margin: 0rem 0 .8rem; /* match bottom margin with prep-cook-time's. */
}

.ingredients-directions-separator {
  content: "";
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  align-self: stretch;
}

/* Define max width for columns (needed to make separator work) */
@media (max-width: 600px) {
  .ingredients-directions-container {
    flex-direction: column;
  }
  .ingredients-directions-container .ingredients-directions-separator {
    margin: 0 1rem 0; /* Match padding for ingredients, directions. */
  }
}

/* Goal: */
/* Ingredients should be exactly x (12rem) wide, and never smaller, when columns. */
/* When the screen expands, ingredients should stay at x pixels, and */
/* directions should fill the remaining space, as long as there are y (500?) pixels. */
/* https://stackoverflow.com/questions/63052778/css-flexbox-wrap-item-with-width */
.ingredients {
  order: -1; /* for separator */
  flex: 1 1 max(30%, 12rem);
  padding: 0 1rem 0;
  margin: 0;
}

.directions {
  flex: 20 1 min(60%, 200px);
  padding: 0 1rem 0;
  margin: 0;
}

.servings {
  margin: 0;
  padding: .382rem 0 0;
}

.makes {
  margin: 0;
  padding: .382rem 0 0;
}

.ingredients-list {
  list-style: none;
  margin: .382rem .618rem 0;
  padding: 0;
  /* Hack to get second-line indent */
  text-indent: -1.618rem;
  margin-left: 1.618rem;
}

.ingredients-list-multiple-sections {
  padding-left: .618rem;
  margin-top: 0rem;
}

.ingredients-directions-header {
  margin: 0;
  padding: 0;
}

.ingredients-section-header {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: .15rem;
  /* font-style: italic; */
  /* font-weight: normal; */
}

.directions p{
  margin: 0;
  padding: .382rem 0 0;
}

.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #888888;
  margin: 0rem 0 .618rem 0;
  padding: 0;
}

.separator-top {
  margin: 0rem 0 .618rem 0;
  padding: 0;
}

.separator-bottom {
  margin: 1rem 0 .618rem 0;
}

.tags {
  margin: 0;
  margin-bottom: .618rem;
  padding: 0;
}

.recipe-grid__footer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.recipe-grid__footer p{
  text-align: center;
  margin: 0;
  padding: 0;
}

.recipe-grid__footer br{
  margin: .618rem;
  padding: 0;
}
